<% content_for :head, auto_discovery_link_tag(:atom, action: :show, id: @page.id, format: "atom") %>
<% content_for :sidebar do %>
  <%= render 'default_sidebar' %>
<% end %>

<% if @posts.empty? %>
  <div class="card z-depth-1 post">
    <div class="card-content">
      <h4 class="post-title">Não foi encontrado nenhum post para sua pesquisa.</h4>
    </div>
  </div>
<% else %>
  <%= render @posts %>
<% end %>

<%= paginate @posts, param_name: 'page_number' %>
