<div>
  <%= comment.content %>
  <% if policy(comment).destroy? %>
    <%= delete_resource comment, nil, true, class: 'secondary-content' %>
  <% end %>
</div>
<small>por <%= comment.commenter_name %> em <%= l comment.created_at, format: :fullDate %></small>
