.community-logo {
  margin-top: 5px;
}

.input-field label {
  color: #515151;
}

footer.page-footer .footer-copyright {
  color: #e1e1e1;
}

.widget-title {
  font-size: x-large;
}

a {
  color: #036fa5;
}

.card .card-action a {
  color: #a75f00;
}

.chip {
  a {
    color: #024668;
  }
}

.post {
  .post-title {
    color: #4C4C4C;
    font-size: xx-large;

    a {
      color: #4C4C4C;
    }
  }
}

.sidebar {
  padding-top: 8px !important;
}

#search {
  margin-bottom: 0;
}

.post-thumb {
  height: 50px;
  transform: translate(-50%, -50%) scale(1.0);
  position: relative;
  top: 50%;
  left: 50%;
}

#fb-root {
  display: none;
}

.fb-comments, .fb-page {
  span {
    @extend .fb-comments;
    iframe {
      @extend .fb-comments;

      &::shadow {
        ._2p3a {
          @extend .fb-comments;
        }
      }
    }
  }

  width: 100% !important;
}